---
title: "Contactar"
date: "2024-01-15"
---

Contacte-nos

<form
  method="post"
  action="https://forms.un-static.com/forms/YOUR_ENDPOINT_REFERENCE"
>
  <div class="form-group row">
    <label for="name" class="col-4 col-form-label">Nome</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-user"></i>
        </div>
        <input
          id="name"
          name="name"
          placeholder="Insira o seu nome"
          type="text"
          required="required"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-4 col-form-label">E-mail</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-envelope"></i>
        </div>
        <input
          id="email"
          name="email"
          placeholder="Como posso contacta-lo"
          type="text"
          required="required"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="message" class="col-4 col-form-label">Messagem</label>
    <div class="col-8">
      <textarea
        id="message"
        name="message"
        cols="40"
        rows="10"
        required="required"
        placeholder="Qual é o seu projeto?"
        class="form-control"
      ></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">
        Enviado
      </button>
    </div>
  </div>
  <div class="text-center">
    <p>
      <small
        >(Powered by
        <a rel="nofollow" href="Un-static Forms">Un-static Forms</a>)</small
      >
    </p>
  </div>
</form>
